html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    background-color: #C3F53C;
    /* background-image: linear-gradient(to top right, #7ace46 50%, #D8FF6A); */
    background-attachment: fixed;
    box-sizing: border-box;
    display: relative;
}

:root {
    --bg_dark: #5BA72C;
    --bg_light: #D8FF6A;
    --button_color: #FF8A00;
}

/* header */

header {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    background-color: white;
    height: 12.5%;
    box-shadow: 1px 1px 5px -2px;
}

header {
    position: relative;
}

/* navigation icon styling */

nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background-color: #00C805;
    border-bottom-right-radius: 15px;
    width: 25%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1.75rem;
  }
  
  /* hamburger icon three lines using pseudoelements */
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 1.75rem;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 0.65rem;
  }
  
  .nav-toggle-label span::after {
    top: 0.65rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: color 400ms, opacity 200ms ease-in 200ms;
  }
  
  nav a:hover {
    color: black;
  }
  
  .nav-toggle {
    display: none;
  }
  
  /* when checkbox is checked, the proceeding sibling nav element is styled as follows:*/
  .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
  }

.name {
    flex-grow: 1;
    text-align: center;
}

.name img {
  width: 15%;
}

/* main */

.main {
    display: flex;
    height: 87.5%;
}

.login_title {
  color: black;
  font-weight: bold;
}

label {
  color: black;
  font-size: 0.75em;
}

input {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  height: 2rem;
  width: 15rem;
  border: 1.5px solid black;
  border-radius: 10px;
}

/* left */

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    flex-grow: 1;
}

.login_title {
    margin-bottom: 3.5rem;
}

.left form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left form button {
    align-self: center;
    color: white;
    background-color: rgb(44, 44, 44);
    padding: 0.65rem 6.9rem;
    border: none;
    border-radius: 10px;
    margin-top: 0.75rem;
  }

.left form input {
  margin-bottom: 2.5rem;
}

.redirect {
  margin-top: 2rem;
  font-size: 0.7rem;
  color: black;
}

/* right */

.right {
    flex-grow: 2;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right img{
  width: 85%;
  margin-right: 10rem;
}

.right p {
  color: white;
}