<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/about_us_out.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <script src="../static/script.js"></script>
    <header>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        
        <nav class="menu_nav">
            <ul>
                <li><a href="/">Main Page</a></li>
                <li><a href="/about_us">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Our Sponsors</a></li>
            </ul>
        </nav>
        

        <div class="name">
            <!-- <h1 class="money_visualiser" style="font-family: 'palatino'">CA$H VIEW</h1> -->
            <img src="../static/logo_right.png" alt="Cash View">
        </div>
        

        <!-- <input type="checkbox" id="profile-toggle" class="profile-toggle">
        <label for="profile-toggle" class="profile-toggle-label">
            <img src="../static/profile.jpg" alt="Profile">
        </label>
        
        <nav class="profile_nav">
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="/{{session['username']}}_goal">Saving Goals</a></li>
                <li><a href="/history_{{session['username']}}">History</a></li>
                <li><a href="/logout_{{session['username']}}">Logout</a></li>
            </ul>
        </nav> -->
    </header>

    <div class="about_us">
        <div class="headline">
            <h5>ABOUT CASHVIEW</h5>
            <div class="slogan"><strong>See More, Spend Less</strong></div>
            <div class="cashview">
                <p>Cash View helps people avoid overspending through visualisations of the value of money.</p>
            </div>
        </div>
        
        <div class="wrapper">
            <div class="problem">
                
                <p>More than 70% of Australian Households have admitted to engaging in some form of overspending.</p>
                <a href="/">See how much you are spending</a>
            </div>
    
            <div class="goal">
                <p>Do you find yourself spending unnecessarily or impulsively?</p> 
                <p>It can help to set a savings goal for yourself to work towards!</p>
                <a href="/signup">Create an Account</a>
            </div>
        </div>
        
    </div>
</body>
</html>