<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/account_page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- style for babylonJs render canvas -->
    <style>
    #renderCanvas {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        touch-action: none;
    }
    #myChart {
        width: 100%;
        height: 100%;
    }
    </style>

    <script> var cash = {{ cash }} </script>
    <!-- <script>
        var dates = {{ dates }}
        var formattedDates = []
        for (let i = 0; i < dates.length; i++) {
          formattedDates.push(new Date(dates[i] * 1000));
        }
        var goodDates = []
        for (let i = 0; i < dates.length; i++) {
          goodDates.push(formattedDates[i].getDate()+
          "/"+(formattedDates[i].getMonth()+1)+
          "/"+formattedDates[i].getFullYear()+
          " "+formattedDates[i].getHours()+
          ":"+formattedDates[i].getMinutes());
        }
    </script>
    <script> var amounts = {{ amounts }} </script> -->

    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <script src="../static/script.js"></script>
    <header>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        
        <nav class="menu_nav">
            <ul>
                <li><a href="/{{session['username']}}/0">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Our Sponsors</a></li>
            </ul>
        </nav>
        

        <div class="name">
            <h1 class="money_visualiser" style="font-family: 'palatino'">CA$H VIEW</h1>
        </div>
        

        <input type="checkbox" id="profile-toggle" class="profile-toggle">
        <label for="profile-toggle" class="profile-toggle-label">
            <img src="https://picsum.photos/42/42" alt="Profile">
        </label>
        
        <nav class="profile_nav">
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="/{{session['username']}}_goal">Saving Goals</a></li>
                <li><a href="/history_{{session['username']}}">History</a></li>
                <li><a href="/logout_{{session['username']}}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <div class="left">
            <div class="placeholder">
                <canvas id="renderCanvas" touch-action="none"></canvas>
            </div>
            <!-- <button class="save">Save to History</button> -->
        </div>
        <div class="right">
            <div class="wrapper">
                <form action="/{{session['username']}}/0" class="user_selection" method="POST">
                    <label for="title">Title (short description):</label>
                    <input name="title" type="text" id="title">
                    <label for="object">Choose an Object Container:</label>
                    <select name="object" id="object">
                        <option value="House">House</option>
                        <option value="Car">Car</option>
                        <option value="Trolley">Trolley</option>
                    </select>
                    <label for="money_amount">Amount of Money:</label>
                    <div class="money_input">
                        <span>$</span>
                        {% if amt %}
                            <input name="money_amount" type="number" id="money_amount" value={{amt}}>
                        {% else %}
                            <input name="money_amount" type="number" id="money_amount">
                        {% endif %}
                    </div>
                    <button type='submit'>GO!</button>
                </form>
    
                <a href="#" class="resources">More Resources</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='renderer.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='graphs.js')}}"></script>
</body>
</html>