<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving Goals</title>
    <link rel="stylesheet" href="../static/goal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <script src="../static/script.js"></script>
    <header>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        
        <nav class="menu_nav">
            <ul>
                <li><a href="/{{session['username']}}">Home</a></li>
                <li><a href="#">Saving Goals</a></li>
                <li><a href="/history_{{session['username']}}">History</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
        

        <div class="name">
            <h1 class="money_visualiser">NAME</h1>
        </div>
        

        <input type="checkbox" id="profile-toggle" class="profile-toggle">
        <label for="profile-toggle" class="profile-toggle-label">
            <img src="https://picsum.photos/42/42" alt="Profile">
        </label>
        
        <nav class="profile_nav">
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <div class="goal_input">
            <label for="goal">Set Savings Goal:</label><br>
            <span>$</span>
            <input type="number" id="goal">
            <button class="set_goal" onclick="update_goal()">Set Goal!</button>
        </div>

        <div class="progress">
            <label for="progress_bar">Progress: <span id="percent">75</span>% towards goal of <span id="saving_goal">$100</span> saved</label><br>  <!-- python code placeholders to display percentage -->
            <progress id="progress_bar" value="75" max="100">75%</progress>
        </div>

        <div class="add_to_progress">
            <p class="question">Saved More Money?</p>
            <div class="money_input">
                <span>$</span>
                <input name="money_amount" type="number" id="money_amount">
                <button class="add_savings" type='button' onclick="update_progress()">Add to Progress</button>
            </div>
        </div>
    </div>
</body>
</html>