<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving Goals</title>
    <link rel="stylesheet" href="../static/goal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- style for babylonJs render canvas -->
    <style>
        #renderCanvas {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            touch-action: none;
        }
    </style>
    
        <script> var cash = {{ cash }} </script>
        <script> var container = {{container}} </script>
        <script src="https://cdn.babylonjs.com/babylon.js"></script>
        <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
        <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
</head>
<body>
    <script src="../static/script.js"></script>
    <header>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        
        <nav class="menu_nav">
            <ul>
                <li><a href="/{{session['username']}}/0">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Our Sponsors</a></li>
            </ul>
        </nav>
        

        <div class="name">
            <!-- <h1 class="money_visualiser" style="font-family: 'palatino'">CA$H VIEW</h1> -->
            <img src="../static/cashview.png" alt="Cash View">
        </div>
        

        <input type="checkbox" id="profile-toggle" class="profile-toggle">
        <label for="profile-toggle" class="profile-toggle-label">
            <img src="../static/profile.jpg" alt="Profile">
        </label>
        
        <nav class="profile_nav">
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="/{{session['username']}}_goal">Saving Goals</a></li>
                <li><a href="/history_{{session['username']}}">History</a></li>
                <li><a href="/logout_{{session['username']}}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <div class="left">
            <form class="user_selection" method='POST'>
                <div class="obj_container">
                    <label for="object">Put the money in a:</label><br>
                    <select name="object" id="object">
                        <option value=0>Trolley</option>
                        <option value=1>Car</option>
                        <option value=2>House</option>
                    </select>
                </div>
                <div class="goal_input">
                    <label for="goal">Set Savings Goal:</label><br><br>
                    <span>$</span>
                    <input type="number" id="goal">
                    <button id="set_goal" class="set_goal" type="button" onclick="update_goal();">Set Goal!</button>
                </div>

                <div class="progress">
                    <label for="progress_bar">Progress: $<span id="progress_num">{{var_progress}}</span> (<span id="percent">{{var_percent}}</span>%) towards goal of $<span id="saving_goal">{{var_goal}}</span> saved</label><br>  <!-- python code placeholders to display percentage -->
                    <progress id="progress_bar" value={{var_progress}} max={{var_goal}}>{{var_progress}}</progress>
                </div>

                <div class="add_to_progress">
                    <p class="question">Saved More Money?</p>
                    <div class="money_input">
                        <span>$</span>
                        <input name="money_amount" type="number" id="money_amount">
                        <button id="update_progress" class="add_savings" type='button' onclick="update_progress1();">Add to Progress</button>
                    </div>
                </div>

                <div class="btns">
                    <button id="reset" class="reset" type="button" onclick="reset1();">Reset</button>
                    <button class="visualise" type='submit'>Visualise!</button>
                </div>
            </form>
        </div>

        <div class="right">
            <div class="placeholder">
                <!-- babbylonJs render canvas -->
                <canvas id="renderCanvas" touch-action="none"></canvas>
            </div>
            <!-- <form action="/" class="user_selection" method="POST">
                <label for="object">Choose an Object Container:</label>
                <select name="object" id="object">
                    <option value="House">House</option>
                    <option value="Car">Car</option>
                    <option value="Trolley">Trolley</option>
                </select>
                
                <button type='submit'>Visualise!</button>
            </form> -->
        </div>
    </div>

<script>
    // jquery function for set goal
    $(document).ready(function(){
        // bind the click event
        $("#set_goal").click(function() {
            // get data
            var usrname = "{{session['username']}}";
            var goal = document.getElementById('goal').value
            // generate the url
            var url = "/api/goals/update_goal/" + usrname +'/' + goal;
            // the jquery call
            $.get(url);
        });
     });


    // jquery function for update progress
    $(document).ready(function(){
        // bind the click event
        $("#update_progress").click(function() {
            // get data
            var usrname = "{{session['username']}}";
            var money = document.getElementById('money_amount').value
            // generate the url
            var url = "/api/goals/update_progress/" + usrname +'/' + money;
            // the jquery call
            $.get(url);
        });
     });

    // jquery function for update progress
    $(document).ready(function(){
        // bind the click event
        $("#reset").click(function() {
            // get data
            var usrname = "{{session['username']}}";
            // generate the url
            var url = "/api/goals/reset/" + usrname +'/' + '0';
            // the jquery call
            $.get(url);
        });
     });
</script>

<script type="text/javascript" src="{{url_for('static', filename='renderer.js')}}"></script>

</body>
</html>