<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="../static/history.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <script>
        var dates = {{ dates }}
        var formattedDates = []
        for (let i = 0; i < dates.length; i++) {
          formattedDates.push(new Date(dates[i] * 1000));
        }
        var goodDates = []
        for (let i = 0; i < dates.length; i++) {
          goodDates.push(formattedDates[i].getDate()+
          "/"+(formattedDates[i].getMonth()+1)+
          "/"+formattedDates[i].getFullYear()+
          " "+formattedDates[i].getHours()+
          ":"+formattedDates[i].getMinutes());
        }
    </script>
    <script> var amounts = {{ amounts }} </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <script src="../static/script.js"></script>
    <header>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        
        <nav class="menu_nav">
            <ul>
                <li><a href="/{{session['username']}}/0">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Our Sponsors</a></li>
            </ul>
        </nav>
        

        <div class="name">
            <h1 class="money_visualiser" style="font-family: 'palatino'">CA$H VIEW</h1>
        </div>
        

        <input type="checkbox" id="profile-toggle" class="profile-toggle">
        <label for="profile-toggle" class="profile-toggle-label">
            <img src="https://picsum.photos/42/42" alt="Profile">
        </label>
        
        <nav class="profile_nav">
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="/{{session['username']}}_goal">Saving Goals</a></li>
                <li><a href="/history_{{session['username']}}">History</a></li>
                <li><a href="/logout_{{session['username']}}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <div class="left">
            <canvas id="myChart"></canvas>
        </div>

        <div class="right">
            {% if hist %}
                {% for h in hist[::-1] %}
                <div class="wrapper">
                    <a href="/{{session['username']}}/{{h.amount}}" style="text-decoration: none; font-size:1.15rem; font-weight: bold; color: black; display: inline-block; padding: 0.4rem 0.5rem; margin: 0 0.5rem; width: auto; border: 2px solid rgb(0, 250, 187); border-radius: 1rem" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        {{h.title}} ---- ${{h.amount}}</a>
                    <p style="color: black; display: block; padding: 0.5rem 1rem 2rem 1rem; border-bottom: 1px solid black">
                        time: {{h.date}}</p><br>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <script type="text/javascript" src="{{url_for('static', filename='graphs.js')}}"></script>
</body>
</html>