<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Visualiser</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- style for babylonJs render canvas -->
    <style>
    #renderCanvas {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        touch-action: none;
    }
    </style>

    <script> var cash = {{ cash }} </script>
    <script> var container = {{container}} </script>
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>

</head>
<body>
    <script src="../static/script.js"></script>
    <header>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        
        <nav class="navbar">
            <ul>
                <li><a href="/">Main Page</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
        

        <div class="name">
            <h1 class="money_visualiser">NAME</h1>
        </div>
        <a href="/login" class="login">Log In</a>
        <a href="/signup" class="signup">Sign up</a>
    </header>

    <div class="main">
        <div class="left">
            <div class="placeholder">
                <!-- babbylonJs render canvas -->
                <canvas id="renderCanvas" touch-action="none"></canvas>
            </div>
            <p class="signup_prompt">Sign up to save your information!</p>
        </div>
        <div class="right">
            <form action="/" class="user_selection" method="POST">
                <label for="object">Choose an Object Container:</label>
                <select name="object" id="object">
                    <option value=0>Trolley</option>
                    <option value=1>Car</option>
                    <option value=2>House</option>
                </select>
                <label for="money_amount">Amount of Money:</label>
                <div class="money_input">
                    <span>$</span>
                    <input type="number" name="money_amount">
                </div>
                <button type='submit'>Submit</button>
            </form>

            <div class="additional_info">
                <label for="graphs">Additional Information:</label>
                <div id="graphs"></div>
            </div>

            <a href="#" class="resources">More Resources</a>
        </div>
    </div>

    <script type="text/javascript" src="{{url_for('static', filename='renderer.js')}}"></script>

</body>
</html>